@font-face {
  font-family: fairlyodd;
  src: url(BandeinsStrangeVariable.ttf);
}

* {
  text-align: center;
  box-sizing: border-box;
  font-family: fairlyodd;
}

.App_main {
  margin: auto;
  text-align: center;
  width: 90%;
}

nav,
footer {
  padding: 20px;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #1db954;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1db954;
}

a:visited {
  color: grey;
}

a:hover {
  font-size: 17px;
  color: cyan;
}

header {
  margin-top: 70px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

img {
  font-style: italic;
  font-size: 13px;
}

.error {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.hidden {
  display: none;
}

img {
  border-radius: 15px;
  height: auto;
  max-width: 60%;
  background-image: url(./images/notavailable4.jpg);
  width: 200px;
  height: 100%;
}

.randomMovie img {
  text-align: center;
  width: 200px;
}

.nice {
  font-style: italic;
  font-size: 14px;
}
