@font-face {
  font-family: fairlyodd;
  src: url(BandeinsStrangeVariable.ttf);
}

@font-face {
  font-family: moviedex;
  src: url(BebasNeue.otf);
}

html {
  background: url(./images/movietheater2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  text-align: center;
  box-sizing: border-box;
  font-family: fairlyodd;
  color: white;
}

.App_main {
  margin: auto;
  text-align: center;
  width: 90%;
}

.headers {
  border-radius: 10px;
  background-color: rgba(5, 15, 29, .5);
  border: 0;
  font-weight: bold;
}

nav {
  padding: 0px;
  background-color: #050f1d;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #1db954;
  font-weight: bold;
}

nav p {
  color: #1db954;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: rgb(66, 107, 255);
}

header {
  margin-top: 128px;
}

ul {
  padding: 0;
  list-style-type: none;
  width: 80%;
}

li {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

img {
  font-style: italic;
  font-size: 13px;
  box-shadow: 0px 5px 20px rgb(70, 69, 69);
  margin-bottom: 10px;
  width: 200px;
}

.error {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.hidden {
  display: none;
}

.randomMovie img {
  text-align: center;
  width: 200px;
}

.nice {
  font-style: italic;
  font-size: 14px;
}

input[type=text] {
  color: black;
}

.results {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-style: italic;
}

.container {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.subheader {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
}

.clickAble {
  background-color: #1db954;
  border-radius: 10px;
  border-color: #1db954;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 120px;
  font-size: 15px;
}

.searchAble {
  border-radius: 10px;
  height: 40px;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.navItem {
  flex: 1;
  justify-content: center;
  color: #1db954;
}

.middle {
  display: flex;
  flex: 2;
  color: #1db954;
  margin-top: 0px;
  justify-content: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-style: normal;
}

.workLinks {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.overlayContainer input {
  margin-bottom: 10px;
}

.movieBorder {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 15, 29, .8);
  border: 0;
  font-weight: bold;
}

.randomMoviePick p{
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(5, 15, 29, .5);
  border: 0;
  font-weight: bold;
}

#moviedexLogo {
  margin-top: 20px;
  margin-bottom: 0px;
  box-shadow: none;
  width: 30%;
}

#moviedexLogoHome {
  margin:auto;
  box-shadow: none;
  width: 30%;
}

/* Desktop Styling */

@media all and (min-width: 900px) {
  .navContainer {
    flex-direction: row;
  }

  #moviedexLogo {
    width: 200px;
  }

  .middle {
    margin-top: 15px;
  }

  h2 {
    margin-top: 20px;
  }

  .workLinks {
    margin-top: 32px;
  }

  header {
    margin-top: 85px;
  }

  .overlayContainer {
    position: relative;
    margin: none;
    padding: none;
    width: 250px;
    left: 4%;
  }

  .overlayContainer:hover img {
    opacity: 0.6;
  }

  .overlayContainer img {
    width: 100%;
  }

  .overlayContainer input,
  div.movieBorder {
    position: absolute;
    display: none;
  }

  .overlayContainer:hover input {
    display: block;
  }

  .overlayContainer:hover div.movieBorder {
    display: block;
  }

  .overlayContainer input {
    top: 45%;
    left: 28%;
  }

  .overlayContainer div.movieBorder {
    bottom: 13px;
    width: 100%;
  }

  .movieBorder{
    background-color: rgba(5, 15, 29, .5);
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
  }
}
