@font-face {
  font-family: fairlyodd;
  src: url(BandeinsStrangeVariable.ttf);
}

@font-face {
  font-family: moviedex;
  src: url(BebasNeue.otf);
}

* {
  text-align: center;
  box-sizing: border-box;
  font-family: fairlyodd;
}

.App_main {
  margin: auto;
  text-align: center;
  width: 90%;
}

nav {
  padding: 20px;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #1db954;
  font-weight: bold;
}

footer {
  position: fixed;
  margin-top: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #1db954;
}

a:visited {
  color: grey;
}

a:hover {
  font-size: 17px;
  color: cyan;
}

footer a:hover {
  font-size: 16px;
}

header {
  margin-top: 85px;
}

ul {
  padding: 0;
  list-style-type: none;
  width: 80%;
}

li {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

img {
  font-style: italic;
  font-size: 13px;
  width: 200px;
}

.error {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.hidden {
  display: none;
}

.randomMovie img {
  text-align: center;
  width: 200px;
}

.nice {
  font-style: italic;
  font-size: 14px;
}

.results {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.container {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
}

.item {
  margin: 0 auto;
  align-items: center;
}

.subheader {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}
